footer{
    width: 100%;
    height: auto;
    background-color: #c9184a;
    padding-top: 50px;
    color: #ffccd5;
    .footer-col{
        margin-bottom: 50px;
    }
    .derechos{
        justify-content: end;
    }
    }