footer{
    width: 100%;
    height: auto;
    background-color: $color-principal;
    padding-top: 50px;
    color: $color;
    .footer-col{
        margin-bottom: 50px;
    }
    .derechos{
        justify-content: end;
    }
    }