footer{
    width: 100%;
    height: auto;
    background-color: map-get($paletaColores, "bordeaux");
    padding-top: 50px;
    color: map-get($paletaColores, "rosa");
    .footer-col{
        margin-bottom: 50px;
    }
    .derechos{
        justify-content: end;
    }
    }