main{
    width: 100%;
    .titulo__subt{
        font-family:$font;
        color: map-get($paletaColores, "bordeaux"); 
    }
    .caja_sub{
        padding: 5px;
        margin: $margin;
    }
    .section{
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .caja_serv{
        width: 400px;
        height: 100%;
        padding: 10px;
        margin: $margin;
        justify-content: center;
        border-radius: 5px;
        border: 3px solid;
        border-color: map-get($paletaColores, "blanco");
    }
    .parrafo{
        font-family:$font;
        color: map-get($paletaColores, "bordeaux");
    }
    .foto{
        width: 100%;
    }
    .foto__nosotros{
        width: 450px;
        padding: 20px;
        }
    .nosotros{
        text-align: $text-aling;
    }
    .mapa{
        overflow: hidden;
        padding-bottom: 30.25%;
        position: relative;
        height: 0;
        z-index: -1;
    }
    .mapa iframe{
        width: 70%;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .infoUbicacion{
        font-family: $font;
        color: map-get($paletaColores, "bordeaux");
        text-align: $text-aling;
        margin: $margin;
    }
    .formulario{
        width: 50%;
        margin: auto;
        padding: 20px;
    }
    .boton{
        font-size: 15px;
        width: auto;
        background-color: map-get($paletaColores, "bordeaux");
        color: map-get($paletaColores, "rosa");
        border: map-get($paletaColores, "rosa");
        border-radius: 3px;
        padding: 5px 25px;
    }
    }